.root {
    -fx-base: rgba(60, 63, 65, 255); // dark
}

.separator {
    -fx-border-color: rgba(113, 118, 121, 255);
}

.light_separator {
    -fx-border-color: rgba(97, 102, 105, 255);
}

.screen_message {
    -fx-text-fill: rgba(175, 177, 179, 255);
}

.icon_button{
    -fx-background-color: transparent;
}

.icon_button:selected {
    -fx-background-color: #353839;
}

.hoverable:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.8), 10, 0, 0, 0);
}

ScrollPane {
    -fx-background-color: transparent;
}